* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #292929;
    display: flex;
    justify-content: center;
    /* background-color: ; */
}

.partition {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    background: #212121;
    
    color: white;
    padding-left: 10px;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: gray;
    margin-bottom: 10%;
}

input::placeholder {
    color: gray;
}

input:focus {
    outline: 1px solid #aaaaaa;
}

#main-box div {
    /* width: 100px; */
    margin-bottom: 20px;
    /* padding: ; */
    color: white;
}

#main-box {
    margin: 10%;
    margin-bottom: 20%;
}

#login-btn {
    width: 100%;
    height: 50px;
}

#login-btn:hover {
    background-color: #aaaaaa;
}





input[type="checkbox"] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #eeeeee;
    border-radius: 1px;
    background: #fbfbfb;
}


input[type="checkbox"]:checked {
    background-color: #3549e0;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}
